<aside class="character-roster">
    <h2>Characters</h2>

    <div class="character-button-container">
        {{#each characterData}}
            {{>characterButton}}
        {{/each}}
    </div>

    <button id="new-character-button">New Character</button>
</aside>
