<header>
	<div class="header-image-container">
		<img src="" alt="">
	</div>
	<h1 class="site-title"><a href="#">Place Title here</a></h1>

	{{#unless loggedIn}}
		<button type="button" id="login"><i class="fa fa-plus"></i></button>
	{{/unless}}
	
</header> 
