<header>
	<div class="header-bar">
	<div class="header-image-container">

		<img src="" alt="">
	</div>
	<h1 class="site-title"><a href="/">Squeeb</a></h1>

	{{#unless loggedIn}}
		<button type="button" id="login"><i class="fa fa-plus">Login or Sign Up</i></button>
	{{/unless}}
	</div>
</header>
