<div id="modal-backdrop" class="hidden"></div>
<div id="login-modal" class="hidden">
	<div class="modal-dialog">

		<div class="modal-header">
			<h3>Login</h3>
			<button type="button" id="modal-close" class="modal-hide-button">&#10006</button>
		</div>

		<div class="modal-body">
			<div class="login-input-element">
				<label for="login-text-input">Email</label>
				<input type="text" id="login-text-input"></input>
			</div>

			<div class="login-input-element">
				<label for="login-pasword-input">Password</label>
				<input type="password" id="login-password-input">
			</div>
	</div>
</div>

<div class="modal-footer">
	<button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
	<button type="button" id="modal-accept" class="action-button">Login</button>
</div>
