<div id="modal-backdrop" class="hidden"></div>
<div id="new-character-modal" class="hidden">
    <div class="modal-dialog">

        <div class="modal-header">
            <h3>New Character</h3>
            <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
        </div>

        <div class="modal-body">
            <div class="character-input-element">
                <label for="character-name-input">name</label>
                <input type="text" id="character-name-input"></input>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
            <button type="button" id="modal-accept" class="action-button">Create Character</button>
        </div>
    </div>
</div>
