<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Squeeb</title>

		<link href="https://fonts.googleapis.com/css?family=Vollkorn+SC" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>
		<script src="/index.js" charset="utf-8" defer></script>
    </head>
    <body>
  {{> header}}
        {{{body}}}
  </body>
</html>
