<main class="content">
	<aside class="side-container">
		<div id="news-title">
			News
		</div>
		<section >
			<div class="news-card-container" card-title="Test News" card-date="11/23/17">
				<div class="news-card-title">Test News</div>
				<div class="news-card-date">11/23/17</div>
				<div class="news-card-content">
					This should really be filled with lorem ipsum text right now.
				</div>
			</div>
		</section>
	</aside>
</main>
