.header-image-container {

}

.site-title a {
	color: white;
	text-decoration: none;
	margin: auto;
}

header {
	background-color: dimgrey;
	display: flex;
	padding: 0px 5px;
	border: 0px;
}

.content {
	display: flex;
}

.side-container {

}

#login {

}

.fa fa-plus {

}

#modal-backdrop {

}

.hidden {
	visibility: hidden;
}

#login-modal {

}

.modal-dialog {

}

.modal-header {

}

#modal-close {

}

.modal-hide-button {

}

.modal-body {

}

.login-input-element {

}

#login-text-input {

}

.modal-footer {

}

#modal-cancel {

}

#modal-accept {

}

.action-button {

}
