body {
	margin: 0px;
	background-color:gray;
}

section {
	margin: auto;
}

.header-image-container {
	position: absolute;
	left: 12px;
	top: 50%;
}

.site-title {
	display: flex;
	top: 50%;
	margin: auto;
}

.site-title a {
	color: white;
	text-decoration: none;
	margin: auto;
	margin-top: 13px;
}

header {
	background-color: dimgrey;
	display: inline-block;
	padding: 0px 5px;
	width: 100%;
	border: 0px;
	height: 72px;
}

.content {
	display: flex;
	width: 100%;
	height: 100%;
	background-color:gray;
}

.side-container {
	display: block;
	background-color:white;
	padding: 12px;
	margin: 12px;
	border-radius: 6px;
	max-width: 200px;
	min-width: 20vw;
	max-height: 85vh;
	overflow-y:auto;
}

.main-container {
	background-color:white;
	padding: 12px;
	margin: auto;
	margin-top: 12px;
	border-radius: 6px;
	min-width: 40vw;
	max-width: 750px;
	display: block;
	height: 85vh;
}

iframe {
	margin: auto;
	display: flex;
}

button {
	background-color: gray;
	border: none;
	color: white;
	padding: 12px 24px;
	text-decoration: none;

}

#login {
	display: inline-block;
	position: absolute;
	right: 6vw;
	top: 16px;
}

.fa fa-plus {

}

#modal-backdrop {
	position: fixed;
	background-color: black;
	opacity: .6;
	top: 0px;
	width: 100%;
	height: 100%;
}

.hidden {
	visibility: hidden;
}

#login-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: white;
	min-width:350px;
	min-height:200px;
	padding:12px;
	border:12px;
	border-radius:6px;
}

.modal-dialog {
}

.modal-header {
	display:flex;
}

.modal-header h3 {
	display:flex;
}

#modal-close {
	display:flex;
	position: absolute;
	right: 12px;	
	padding: 3px 6px;
}

.modal-hide-button {

}

.modal-body {

}

.login-input-element {
	margin-top: 12px;
}

.login-input-element label {
	position: relative;
	left: 23px;
}

.login-input-element input {
	position: absolute;
	right: 72px;
}

.modal-footer {
	position: absolute;
	bottom: 24px;
	display: flex;
	width: 94%;
}

#modal-cancel {
	margin: auto;
}

#modal-accept {
	margin: auto;
}

.action-button {

}

.news-card-title {
	font-weight: bold;
}

#notFound {

	color: white;
	font-size: xx-large;
	font-weight: bolder;
	position: absolute;
	left: 50%;
	bottom: 50%;
	transform: translate(-50%,-50%);

}
